<%- include('./header', { subtitle: 'Error' }) %>

<body>

<%- include('./navi', { subtitle: 'Error' }) %>

<div class="container" id="main_div" style="position: relative; top: 20px;">
  <pre>
  <%- error %>
  </pre>
</div>

<%- include('./footer', {}) %>
