<script>
$(function(){
  mynfoFileList( '<%= folder %>', '<%= path %>' );
});
</script>

<div class="container" id="files_div">
  <div id="target_folder"></div>
  <dir id="files_dir">
  </dir>
</div>

