<script>
$(function(){
  mynfoFileList( '<%= folder %>', '<%= path %>', '<%= github_file_url %>' );
});
</script>

<div class="container" id="files_div">
  <dir class="files" id="files_dir">
  </dir>
</div>

