
<div class="expand-lg bg-warning fixed-bottom" style="text-align: right; height: 50px;">
  <a id="brand-title" class="navbar-brand" href="#">
  Published by <b><a target="_blank" href="https://github.com/dotnsf/mynfo">Mynfo</a></b>.
  </a>
</div>

</body>
</html>
