<%- include('./header', { subtitle: path.substr( 1, path.length - 4 ) }) %>

<body>

<%- include('./navi', { subtitle: path.substr( 1, path.length - 4 ) }) %>

<div class="container" id="main_div" style="position: relative; top: 20px;">
  <%- html %>
</div>

<%- include('./footer', {}) %>
