html, body {
  background-color: #ffe;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

dir.files{
  list-style: none;
  padding-left: 5px;
}

.img90{
  width: 90%;
}

.selectedfile{
  font-weight: bold;
}

#files_dropdown{
  padding-bottom: 30px;
}

/* #29 */
.menu-content dir{
  height: 80%;
  margin-bottom: 50px;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #666;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after{
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
}
.menu-btn span:before{
  bottom: 8px;
}
.menu-btn span:after{
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span{
  background-color: rgba(255,255,255,0);
}
#menu-btn-check:checked ~ .menu-btn span::before{
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after{
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check{
  display: none;
}
.menu-content{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #666;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.menu-content dir{
  padding: 70px 10px 50px;
}
.menu-content dir li{
  border-bottom: solid 1px #fff;
  list-style: none;
}
.menu-content dir li a{
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content dir li a::before{
  content: '';
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
.menu-content{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: #666;
  transition: all 0.5s;
}
#menu-btn-check:checked ~ .menu-content {
  left: 0;
}
